@font-face {
    font-family: "akidenz";
    src: url("data/Akzidenz-grotesk-light.ttf");
}

body {
    font-family: "akidenz";
    background-image: url('./background.svg');
    background-repeat: no-repeat;
    background-size:cover;
}


/*** UNIQUE Rules ***/

p {
    position: absolute;
    text-transform: lowercase;
    font-size: 10vh;
    line-height: 10vh;
    top: 45%;
    left:40%;
}

.links {
    font-size: 2vh;
    position:relative;
}

a {
    text-decoration: none;
    color: black;
    padding: 2%;
}

a:hover {
    background-color: aqua;
    transition: .5s;
}

