@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,200;0,300;1,100&family=Space+Grotesk:wght@300&display=swap');

@font-face {
  font-family: "akidenz";
  src: url("data/identity/Akzidenz-grotesk-light.ttf");
}

body {
  /* font-family: "akidenz"; */
  /* font-family: 'Hanken Grotesk', sans-serif; */
  font-family: 'Space Grotesk', sans-serif;
  /* background: greenyellow;  */
  /* background-image: url("./data/spatial/hrgrenderings.gif"); */
  /* background-image: url("./data/research/01\ Precolonial.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-left: 2%;
  color:#222;
  padding: 1%;
}

/* .intro__body {
  background: greenyellow;
} */

.responsive-spacing {
  display: block;
  margin-bottom: 5rem;
}

/*** UNIQUE Rules ***/

.links {
  text-transform: capitalize;
  font-weight: bold;
  text-decoration: none;
  color: #222;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  /* color: black; */
  font-size: 1.25rem;
  margin-left: 0.5%;
  padding: 0.5%;
}

#scatter__intro {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
/* .links:hover {
  background-color: blue;
  color: white;
  transition: 0.5s;
} */

.title {
  position: absolute;
  text-transform: uppercase;
  color: greenyellow;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  top: 7%;
  left: 3.5%;
}


.project__links {
  color: #222;
  /* color: #fff; */
  text-decoration: none;
  padding: 0.25%;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  font-size: 1rem;
}


/** TEXT Rules **/
.placeholder__text {
  text-transform: uppercase;
  font-size: 2rem;
  color: #888;
}

/** ABOUT PAGE Rules **/

.about__text {
  max-width: 90%;
  font-size: 1rem;
  margin-left: 1%;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.about__links {
  color: blue;
  text-decoration: none;
  padding: 0.5%;
}

hr {
  border: 2px dashed;
  max-width: 50%;
  margin-left: 0%;
}

/** CONTENT Page Rules **/

.content__links {
  color: blue;
  /* text-decoration: underline; */
  padding: 0%;
}

img {
  width: 100%;
  height: 100%;
}

.project {
  display: inline;
  margin-top: 5%;
}

.project__indiv {
  display: inline;
  margin-top: 5%;
}

.project__header {
  max-width: 90%;
  font-size: 1.25rem;
  font-weight: bold;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.project__index {
  margin-left: 1%;
  font-size: 1rem;
  max-width: 90%;
}

.project__text {
  font-size: 1rem;
  max-width: 95%;
}

.project__image {
  max-width: 100%;
  /* filter: drop-shadow(0.25rem 0.25rem 0.5rem #666); */
}




/** CONTENT Desktop Page Rules **/

@media (min-width: 600px) {

  .responsive-spacing {
    display: block;
    margin-bottom: 6rem;
  }

  .links {
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
    color: #222;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    /* color: black; */
    font-size: 1.25rem;
    margin-left: 0.5%;
    padding: 0.5%;
  }
  .title {
    position: absolute;
    text-transform: uppercase;
    color: greenyellow;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    top: 9%;
    left: 4%;
  }


  .project {
    display: flex;
    margin-top: 5%;
  }

  img {
    float: left;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .project__image {
    max-width: 40%;
    /* height: 100%; */
    object-fit: contain;
    /* filter: drop-shadow(0.25rem 0.25rem 0.5rem #666); */
    transition: transform 0.4s ease;
    transform-origin: 50% 50%;
    overflow: hidden;
    display: flex;
  }

  .supporting__image {
    max-width: 40%;
    margin-left: 7.5%;
    object-fit: contain;
    /* filter: drop-shadow(0.25rem 0.25rem 0.5rem #666); */
    transition: transform 0.4s ease;
    transform-origin: 50% 50%;
    overflow: hidden;
    display: flex;
  }

  .content__links:hover {
    color: black;
    background-color: greenyellow;
    transition: 0.5s;
  }

  .about__links:hover {
    color: black;
    background-color: greenyellow;
    transition: 0.5s;
  }

  .project__links:hover {
    background-color: greenyellow;
    color: black;
    transition: 0.5s;
  }

  .links:hover {
    background-color: greenyellow;
    color: black;
    transition: 0.5s;
  }
  .title:hover {
    background-color: greenyellow;
    color: black;
  }

  .project__image:hover {
    transform: scale(1.01);
    opacity: 90%;
    width: 100%;
  }

  .project__header {
    font-size: 1.25rem;
    font-weight: bold;
    width: 40%;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: -0.25%;
    margin-bottom: 1vw;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  .project__index {
    font-size: 1rem;
    max-width: 90%;
    margin-top: 0%;
  }

  .project__text {
    font-size: 1rem;
    max-width: 40%;
    margin-left: -50%;
    margin-right: 10%;
    margin-top: 12vmin;
  }

  .project__links {
    color: #222;
    /* color: #fff; */
    text-decoration: none;
    padding: 0.25%;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    font-size: 1.25rem;
  }

  .content__links {
    color: blue;
    text-decoration: none;
    padding: 0.5%;
  }

  .about__text {
    max-width: 40%;
    font-size: 1rem;
    margin-left: 1%;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }